In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("jobs-webdeveloper.csv")
df.head()

,title,company,location,published,applicants,url,description
0,Front-end Developer,Viseven,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 día,134 solicitudes,https://ar.linkedin.com/jobs/view/front-end-de...,Viseven Group is an international IT company s...
1,Remote Junior Web Developer,Scopic,Buenos Aires y alrededores,Hace 6 días,Más de 200 solicitudes,https://ar.linkedin.com/jobs/view/remote-junio...,Are you on the hunt for exciting new challenge...
2,Developer Frontend,IOL Inversiones,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 mes,Más de 200 solicitudes,https://ar.linkedin.com/jobs/view/developer-fr...,¡IOLer se busca! En IOL invertironline queremo...
3,Front-end Developer,Viseven,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 día,134 solicitudes,https://ar.linkedin.com/jobs/view/front-end-de...,Viseven Group is an international IT company s...
4,Developer Frontend,IOL Inversiones,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 mes,Más de 200 solicitudes,https://ar.linkedin.com/jobs/view/developer-fr...,¡IOLer se busca! En IOL invertironline queremo...

In [5]:

# desc = df['description']
# desc[0]
df = df[~df['published'].str.contains('meses', case=False, na=False)]
# df = df[df['published'].str.contains('meses', na=False)]
df.head(2)

,title,company,location,published,applicants,url,description
0,Front-end Developer,Viseven,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 día,134 solicitudes,https://ar.linkedin.com/jobs/view/front-end-de...,Viseven Group is an international IT company s...
1,Remote Junior Web Developer,Scopic,Buenos Aires y alrededores,Hace 6 días,Más de 200 solicitudes,https://ar.linkedin.com/jobs/view/remote-junio...,Are you on the hunt for exciting new challenge...

In [6]:
# df = df[df['published'].str.contains('meses', na=False)]
# df.head(2)
df.iloc[18]['url']
df.head(2)

,title,company,location,published,applicants,url,description
0,Front-end Developer,Viseven,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 día,134 solicitudes,https://ar.linkedin.com/jobs/view/front-end-de...,Viseven Group is an international IT company s...
1,Remote Junior Web Developer,Scopic,Buenos Aires y alrededores,Hace 6 días,Más de 200 solicitudes,https://ar.linkedin.com/jobs/view/remote-junio...,Are you on the hunt for exciting new challenge...

In [7]:
import re

In [ ]:
# Función para convertir a días
def convertir_a_dias(texto):
    if not isinstance(texto, str):
        return 0
    
    texto = texto.lower()  # Convertir a minúsculas para manejar mayúsculas y minúsculas
    
    # Extraer el número usando una expresión regular
    numero = int(re.search(r'\d+', texto).group())
    
    # Determinar la unidad de tiempo
    if "día" in texto or "dia" in texto or "day" in texto:
        return numero
    elif "semana" in texto or "semanas" in texto or "week" in texto:
        return numero * 7
    elif "mes" in texto or "month" in texto:
        return numero * 30
    else:
        return 0  # Si no se reconoce el formato

# Aplicar la función a la columna "published"
# df["dias"] = df["published"].apply(convertir_a_dias)

# print(df)

In [9]:
# df = pd.read_csv("jobs-webdeveloper.csv")
df.head(1)

,title,company,location,published,applicants,url,description
0,Front-end Developer,Viseven,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 día,134 solicitudes,https://ar.linkedin.com/jobs/view/front-end-de...,Viseven Group is an international IT company s...

In [10]:
df["published"] = df["published"].apply(convertir_a_dias)

In [11]:
# Función para convertir a días
def extract_num(texto):
    if not isinstance(texto, str):
        return 0
    # Extraer el número usando una expresión regular
    return int(re.search(r'\d+', texto).group())

In [12]:
df["applicants"] = df["applicants"].apply(extract_num)

In [13]:
df.sort_values(by=['applicants'], ascending=True)
print('0')
# df.sort_values(by='published', ascending=False)
# df.head(20)

0

In [ ]:
def fix_url(url):
    # Verificar si la URL contiene 'linkedin.com/jobs/view/'
    urlMatch = "linkedin.com/jobs/view/"
    # Expresión regular para extraer el ID
    match = re.search(r'/view/.*?-(\d+)(\?|$)', url)
    # Verificar si se encontró un match
    if match:
        id = match.group(1)  # Extraer el ID
        return f'{urlMatch}{id}'

In [15]:
df["url"] = df["url"].apply(fix_url)

In [ ]:
import urllib.parse

# query = 'web developer'
query = 'excel power bi python'
sub_search = '"remote" English -"Argentina" -"Brazil" -"Mexico" -"Colombia" -"Chile" -"Peru" -"Spanish" -"Portuguese"'
base_url = "https://www.google.com/search"
params = {
    "q": f"site:linkedin.com/jobs {query} {sub_search}"
}

search_url = base_url + "?" + urllib.parse.urlencode(params)
print(search_url)

https://www.google.com/search?q=site%3Alinkedin.com%2Fjobs+excel+power+bi+python+%22remote%22+English+-%22Argentina%22+-%22Brazil%22+-%22Mexico%22+-%22Colombia%22+-%22Chile%22+-%22Peru%22+-%22Spanish%22+-%22Portuguese%22

In [8]:
# palabras reservadas de python
# False, True, None, and, or, not, if, elif, else, for,
#  while, break, continue, return, def, class, try, except, finally,
#  import, from, as, global, nonlocal, lambda, yield, with, async, await

import re
from scripts.csv_handler import csv_to_df  #
from scripts.helpers import fix_url  #

search_query = "nest.js"
filebase = f'{re.sub(r"^a-zA-Z0-9", "", search_query.replace(" ", ""))}.csv'  # deja solo num y letras en el filename
l_filename = f"linkedin-{filebase}"
j_filename = f"jobs-{filebase}"

df = csv_to_df(l_filename)
# df = df['urls'].apply(fix_url)

df.iloc[:, 0]


# print(df.head(1))

# df = df.drop_duplicates()

# df.to_csv(l_filename, index=False)

# if df is not None:
#     print("Archivo cargado correctamente:")
#     print(df.head(1))
    # Suponiendo que ya tienes un DataFrame llamado df
    # linkedin_urls = df.iloc[:]  # Esto accede a todas las filas de la Serie

    # print(linkedin_urls[0:2])

    # for url in linkedin_urls:
    #     job_info = job_search(url)
    #     if (len(job_info) > 0):
    #         manage_job_csv(job_info, j_filename)      
                          
# else:
#     print("Hubo un error al cargar el archivo.")

0      https://linkedin.com/jobs/view/4161438687
1      https://linkedin.com/jobs/view/4151650363
2      https://linkedin.com/jobs/view/4089968781
3      https://linkedin.com/jobs/view/4168427024
4      https://linkedin.com/jobs/view/4161018331
                         ...
399    https://linkedin.com/jobs/view/4168745467
400    https://linkedin.com/jobs/view/4161582452
401    https://linkedin.com/jobs/view/4130109118
402    https://linkedin.com/jobs/view/4161465771
403    https://linkedin.com/jobs/view/4167172345
Name: urls, Length: 404, dtype: object

In [20]:
import unicodedata
from scripts.csv_handler import csv_to_df
# from scripts.helpers import clean_text


def clean_text(text):
    """Removes problematic characters and replaces them with standard ones."""
    if isinstance(text, str):
        # Normalize Unicode characters (e.g., ’ → ')
        text = unicodedata.normalize("NFKD", text)

        # Use explicit Unicode escape sequences to replace problematic characters
        text = re.sub(r"[\u2018\u2019\u00B4\u0060]", "'", text)  # Replaces all special apostrophes (‘ ’ ´ `) with standard '
        text = re.sub(r"[\u201C\u201D\u201E]", '"', text)  # Replaces all special double quotes (“ ” „) with standard "
        text = re.sub(r"[\u2013\u2014\u2212]", "-", text)  # Replaces different types of dashes (– — −) with a standard hyphen (-)

        # Remove any non-printable characters
        text = "".join(char for char in text if char.isprintable())

        # Replace multiple spaces with a single space
        text = re.sub(r"\s+", " ", text).strip()

    return text

filename = 'jobs-webdeveloper2.csv'
df = csv_to_df(filename)
# df = df.apply(clean_text)
# Apply the function to all string values in the DataFrame
df["description"] = df["description"].astype(str).apply(clean_text)
df.to_csv(filename, index=False, encoding="utf-8")

In [13]:
from scripts.csv_handler import csv_to_df

filename = 'jobs-nest.js.csv'
df = csv_to_df(filename)
df = df.iloc[:, 2:]

df

,title,company,location,published,applicants,url,description
0,NaN,NaN,NaN,NaN,NaN,https://linkedin.com/jobs/view/4161438687,The role is about:In the Open Banking Team you...
1,NaN,NaN,NaN,NaN,NaN,https://linkedin.com/jobs/view/4151650363,What is Super Payments?Our mission is to power...
2,NaN,NaN,NaN,NaN,NaN,https://linkedin.com/jobs/view/4089968781,With Intelligence is looking for Backend Leads...
3,NaN,NaN,NaN,NaN,NaN,https://linkedin.com/jobs/view/4168427024,About Visibly ✌️We are a fast-moving seed-stag...
4,Junior Software Engineer,Cathcart Technology,Manchester Area United Kingdom,1 week ago,Over 200 applicants,https://linkedin.com/jobs/view/4161018331,Junior Software Engineer (IoT Data)Up to £40K ...
...,...,...,...,...,...,...,...
399,Becario Influencer Marketing,Masderm,Barcelona Catalonia Spain,3 days ago,33 applicants,https://linkedin.com/jobs/view/4168745467,Masderm es una marca nativa digital con crecim...
400,Marketing Procurement Assistant Manager - EU,Unilever,Barcelona Catalonia Spain,1 day ago,Be among the first 25 applicants,https://linkedin.com/jobs/view/4161582452,Looking for Your Dream Job?Marketing Procureme...
401,Prácticas en el Departamento de Marketing,EARTES,Málaga Andalusia Spain,1 month ago,68 applicants,https://linkedin.com/jobs/view/4130109118,¿Te apasiona el mundo del marketing digital y ...
402,NaN,Roccabella Yachts,Palma Balearic Islands Spain,3 days ago,72 applicants,https://linkedin.com/jobs/view/4161465771,Join Our Team at Roccabella Yachts!We are acti...
403,NaN,NaN,NaN,NaN,NaN,https://linkedin.com/jobs/view/4167172345,Job Title: Social Media & Marketing Company: R...

In [16]:
df.to_csv(filename, index=False)