In [12]:
import itertools as it
import random as rnd
import numpy as np
import pandas as pd
from collections import defaultdict
from datetime import datetime, timedelta

from companies import data as companies
from vacants import data as vacants
from candidates import data as candidates
from skills import data as skills
# from applications import data as applications
# from candidates_skills import data as candidates_skills
# from requirements import data as requirements

In [13]:
def generate_relations (main_key, main_list, sub_key, sub_list, min_sample, max_sample): 
    # generate relations from a random number of items in sub_list for each item in main_list
    relations = []
    if len(main_key) == 0 | len(sub_key) == 0 | len(main_list) == 0 | len(sub_list) == 0:
        print('check params')
        return relations
    if min_sample < 1 | max_sample < 1 | min_sample >= max_sample:
        print('check min and max values')
        return relations
    for m in main_list:
        n_items = rnd.randint(min_sample, max_sample)
        sub_list_sample = rnd.sample(sub_list, n_items)
        for s in sub_list_sample:
            relations.append({'id': len(relations)+1, main_key: m['id'], sub_key: s['id']})
    return relations

In [14]:
# data = generate_relations('company_id', companies, 'vacant_id', vacants, 1, 2)
# df = pd.DataFrame(data)

In [15]:
applications = generate_relations('company', companies, 'vacant', vacants, 1, 2)
candidate_skills = generate_relations('candidate', candidates, 'skill', skills, 1, 2)
requirements = generate_relations('vacant', vacants, 'skill', skills, 1, 2)

In [ ]:
# Assign random date from datetime range to applications
def date_random (start: datetime, end: datetime):
    delta = end - start
    random_days = rnd.randint(0, delta.days)
    return (start + timedelta(days=random_days)).strftime('%Y-%m-%d')

# set start - end
start_date = datetime(2024, 10, 1)
end_date = datetime(2025, 3, 1)

for a in applications:
    a['published_date'] = date_random(start_date, end_date)

pd.DataFrame(applications)

   id  company  vacant published_date
0   1        1       5     2024-12-04
1   2        2       2     2025-01-08
2   3        3       3     2024-10-28

In [ ]:
# COUNT VACANTS PER COMPANY

# vacants_per_company = {}

# for a in applications:
#     vacants_per_company[a['company']] = vacants_per_company.get(a['company'], 0) + 1

# print(vacants_per_company)

# print([{'id': c['id'], 'name': c['name'], 'vacants': vacants_per_company[c['id']]} for c in companies])

# query_c_id = min(1, len(companies))
# c_id_query_result = [a for a in applications if a['company'] == query_c_id]
# print(c_id_query_result)
# c_name = list(filter(lambda c: c['id']==query_c_id, companies))[0]['name']
# print(f'{c_name} has {len(c_id_query_result)} vacants')

# using default dict shorttens the code by avoiding to use dict.get() method

vxc = defaultdict(int)

for a in applications:
    vxc[a['company']] = vxc[a['company']] + 1

print(dict(vxc))

{1: 1, 2: 1, 3: 1}

In [17]:
applications

[{'id': 1, 'company': 1, 'vacant': 5},
 {'id': 2, 'company': 2, 'vacant': 2},
 {'id': 3, 'company': 3, 'vacant': 3}]

In [18]:
# COUNT SKILLS PER CANDIDATE

# candidate_skills.sort(key=lambda cs: cs['candidate'])  # Asegurar que est√© ordenado
# grouped_skills = it.groupby(candidate_skills, key=lambda cs: cs['candidate'])
# skill_counts = {candidate_id: len(list(group)) for candidate_id, group in grouped_skills}

# for c in candidates:
#     c['c_skills'] = skill_counts.get(c['id'], 0)

In [ ]:
# GET APPLICATIONS BY DATE PARAMETER

# print(candidates)
# print(applications)

# get applications of given year
filtered_applications = list(filter(lambda a: datetime.strptime(a['published_date'], '%Y-%m-%d').year == 2025, applications))

# get applications from given date
# filtered_applications = list(filter(lambda a: datetime.strptime(a['published_date'], '%Y-%m-%d') < datetime(2025,1,1), applications))

pd.DataFrame(filtered_applications)

   id  company  vacant published_date
0   2        2       2     2025-01-08