In [40]:
import pandas as pd
import numpy as np

In [62]:
data = {
    "Nombre": ["Juan", "Ana", "Luis"],
    "Edad": [15, 30, 22],
    "Pais": ["Colombia", "Perú", "Argelia"],
}
df = pd.DataFrame(data)
df

  Nombre  Edad      Pais
0   Juan    15  Colombia
1    Ana    30      Perú
2   Luis    22   Argelia

In [5]:
df.to_csv('nombres.csv', index=False)

In [7]:
df2 = pd.read_csv('nombres.csv')
df2

  Nombre  Edad
0   Juan    25
1    Ana    30
2   Luis    22

In [60]:
# dataframe information
df.info()
# df2.describe()
# df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  3 non-null      object
 1   Edad    3 non-null      int64
 2   Pais    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [30]:
# filtering
# df[df['Nombre'].str.count('u') > 0]
# texto = "Hola, mundo"
# print(texto.count("mundo"))

# aca se separan los filtros con parensis
df[(df['Edad']>20) & (df['Edad']<30)]

  Nombre  Edad
0   Juan    25
2   Luis    22

In [ ]:
# LOC
# l = np.array([[1, 2, 3, 4, 5], [6, 7, 8,9, 10],[20, 7, 8,9, 12]])
# print(l[:2, -1])
# df.loc[filas, columnas]
# filas: Puede ser una etiqueta, una lista de etiquetas, un rango de 
# etiquetas o una condición booleana.
# columnas: Puede ser una etiqueta, una lista de etiquetas o un rango de etiquetas.
# df.loc[df['Edad'] > 22,:]
# df.loc[df['Edad'] < 18, 'Pais'] # paises de menores de edad
# df.loc[:, ['Nombre', 'Pais']] #  solo columnas seleccionadas
# df.loc[:2] # inclusivo al final
# df.iloc[:2] # no inclusivo al final

# iLOC
# iloc se utiliza para seleccionar filas y columnas por su posición 
# (índices numéricos). Es exclusivo en el extremo final 
# (como en Python estándar).
# filas: Puede ser un índice, una lista de índices, un rango de índices 
# o una condición booleana.
# columnas: Puede ser un índice, una lista de índices o un rango de índices.
# df[df.iloc[:, 1] > 18] # selecciona la columna con iloc y ahi si filtra
# df.iloc[:, [-1]] solo columnas, en este caso solo la ultima
df.iloc[1]

# DTYPES
# Seleccionar columnas numéricas
# df_filtrado = df.select_dtypes(include=['int', 'float'])
# df_filtrado = df.select_dtypes(include=['object']) # con objects
# df_filtrado

Nombre     Ana
Edad        30
Pais      Perú
Name: 1, dtype: object

In [ ]:
# df.drop(columns=['aceptable', 'good'], inplace=True)
# def is_aceptable(age):
#     if age > 20:
#         return True
#     else:
#         return False
# df['good'] = df['Edad'].apply(is_aceptable)
df
# df['good'] = np.where(df['Edad'] > 18, 'Yes', 'No')
df['in latam'] = df['Pais'].apply(lambda p: 'No' if p == 'Argelia' else 'Si')

In [110]:
df[df['in latam'] == 'No']

  Nombre  Edad     Pais good in latam
2   Luis    22  Argelia  Yes       No